* {
	-webkit-user-select: none;
}

input, textarea {
	-webkit-user-select: auto !important;
}

a {
	-webkit-touch-callout: none;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}